name: CSABD

on: [workflow_dispatch]

jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: Run CSABD tool
        uses: aleks-ivanov/csabd@main
        with:
            token: ${{ secrets.CSABD_TOKEN }}
            alerts_dis_path: '/obj/'
